// Abstracts
@use '../abstracts' as *;

/* ============ */
/* Sourcing CSS */
/* ============ */

section {
    margin: 0 auto;
    width: 320px;
    @include breakpoint-max(ss-var($breakpoints, "360")) {
        width: 280px;
    }
    @include breakpoint-min(ss-var($breakpoints, "1280")) {
        width: 550px;
    }
    form {
        width: 100%;
    }
}
.results.show {
    height: 100%;
    border-radius: 5px;
    padding: 3em;
    text-align: center;
    background: ss-var($colors, "neutral", "white");
    margin-top: 5em;
    font-size: 1.8rem;
    font-weight: ss-var($font-weight, "medium");
}
.disabled {
    opacity: .5;
    cursor: not-allowed;
    outline: none;
    &:focus {
        outline: none;
    }
}
#export {
    background: ss-var($colors, "secondary", "green");
}
#export.hide {
    display: none;
}