// Abstracts
@use "../abstracts" as *;

/* ============== */
/* Testonline CSS */
/* ============== */

.quiz-app {
    width: 100%;
    @include breakpoint-min(ss-var($breakpoints, "1024")) {
        width: 70%;
    }
    @include breakpoint-min(ss-var($breakpoints, "1280")) {
        width: 550px;
    }
}

.quiz-app {
    background-color: #f8f8f8;
    margin-top: 4em;
}
.quiz-app .quiz-info {
    display: flex;
    background-color: #fff;
    padding: 20px;
}
.quiz-app .quiz-info .category {
    flex: 1;
}
.quiz-app .quiz-info .count {
    flex: 1;
    text-align: right;
}
.quiz-app .quiz-area {
    background-color: ss-var($colors, "neutral", "white");
    padding: 20px;
    border-radius: 5px 5px 0 0;
}
.quiz-app .quiz-area h2 {
    margin: 0;
}
.quiz-app .answers-area {
    background-color: ss-var($colors, "neutral", "white");
    padding: 0 20px 20px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 1em;
}
.quiz-app .answers-area .answer {
    background-color: ss-var($colors, "neutral", "lightgray");
    padding: 15px;
    display: flex;
    align-items: center;
    &:first-child {
        border-radius: 5px 5px 0 0;
    }
    &:last-child {
        border-radius: 0 0 5px 5px;
    }
}
.quiz-app .answers-area .answer:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
    color: ss-var($colors, "primary", "blue");
}
.quiz-app .answers-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: ss-var($colors, "neutral", "gray");
    font-size: 1.6rem;
    margin-left: 5px;
}

.quiz-app .results.show {
    height: 100%;
    border-radius: 5px;
    padding: 3em;
    text-align: center;
    background: ss-var($colors, "neutral", "white");
    margin-top: 1em;
    font-size: 1.8rem;
    font-weight: ss-var($font-weight, "medium");
}
.quiz-app .bullets {
    background-color: ss-var($colors, "neutral", "white");
    display: flex;
    padding: 20px;
    height: 80px;
    border-radius: 5px;
}
.quiz-app .bullets .spans {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.quiz-app .bullets .spans span {
    font-weight: ss-var($font-weight, "semibold");
    color: ss-var($colors, "neutral", "darkgray");
    width: 40px;
    height: 40px;
    background-color: ss-var($colors, "neutral", "lightgray");
    margin-right: 5px;
    border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
    background-color: ss-var($colors, "primary", "blue");
    color: ss-var($colors, "neutral", "white");
}
.quiz-app .results span {
    font-weight: bold;
}
.quiz-app .results span.bad {
    color: ss-var($colors, "secondary", "red");
}
.quiz-app .results span.good {
    color: ss-var($colors, "primary", "blue");
}
.quiz-app .results span.perfect {
    color: ss-var($colors, "secondary", "green");
}
