// Abstracts
@use '../abstracts/' as *;

/* Buttons */
.submit-button {
    font-size: 1.6rem;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: ss-var($colors, "neutral", "white");
    background: ss-var($colors, "primary", "blue");
    font-weight: ss-var($font-weight, "medium");
    margin-block: 1em 2em;
    &:focus {
        outline: 2px solid ss-var($colors, "neutral", "darkgray");
    }
    @include breakpoint-min(ss-var($breakpoints, "1280")) {
        cursor: pointer;
    }
}